<p id="notice"><%= notice %></p>

<h1>Grade Calculator</h1>
<h3>Activities</h3>

<p>Give grades to the numeric activities:</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Grade</th>
      <th>Percentage</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td>Activity <%= grade.id %></td>
        <td>A<%= grade.id %></td>
        <td><%= grade.Mark %> / <%= grade.MarkOutOf %></td>
        <td><%= 100*grade.Mark/grade.MarkOutOf %>%</td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<thead>
      <tr>
      <th><b>TOTAL</b></th>
      <th colspan="3"></th>
    </tr>
</thead>

<br>
<br>

<button type="button" onclick="alert('IN PROGRESS')">AVERAGE</button>
<button type="button" onclick="alert('Will fix to calculate mean')">MEAN</button>

<%= link_to 'Add an Activity', new_grade_path %>
