<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @grade.Mark %>
</p>

<p>
  <strong>Markoutof:</strong>
  <%= @grade.MarkOutOf %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
